@model IEnumerable<School_of_arts.Models.SpecialtyDiscipline>

@{
    ViewData["Title"] = "Specialty discipline";
}

<h1>Фахові предмети</h1>

<p>
    <a asp-action="Create">Додати спеціальність</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Відділ</th>
            <th>Дисципліна</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Department.DepartmentName)</td>
                <td>@Html.DisplayFor(modelItem => item.Discipline.SubjectName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SpecialtyDisciplineId">Виправити</a> |
                    <a asp-action="Details" asp-route-id="@item.SpecialtyDisciplineId">Інформація</a> |
                    <a asp-action="Delete" asp-route-id="@item.SpecialtyDisciplineId">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
