@model School_of_arts.Models.Position

@{
    ViewData["Title"] = "Details";
}

<h1>Подробиці</h1>

<div>
    <h4>Посада</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DutiesDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DutiesDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PositionId">Edit</a> |
    <a asp-action="Index">Повернутися до списку</a>
</div>
